body, body * {
    margin: 0;
    padding: 0;
}

.p5Canvas {
    display:block;
}

body {
    background-color: #7AB7CF;
}

div#content {
    display: flex;
    position:absolute;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #FFFBD9;
}

div#content ::selection {
    background-color: #F56E87;
}

div#content div {
    margin: auto;
}

div#content h1 {
    margin-bottom: 0.5em;
    padding: 0.25em;
    letter-spacing: 0.05em;
    font-size: 3em;
    font-variant: small-caps;
    text-align: center;
    background-color: #FFFBD9;
    color: #7AB7CF;
}

div#content h1::selection {
    text-shadow: none;
    color: #FFFBD9;
}

div#content p {
    margin-bottom: 1em;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

div#content h2 {
    margin-bottom: 1em;
    letter-spacing: 0.125em;
}

div#content a {
    text-decoration: none;
}

div#content a:hover {
    text-shadow: 0 0 2px #3d8aa9;
    color: #F56E87;
}

div#content a.icon {
    display: inline;
    margin: 0.25em;
    font-size: 3em;
}
